@import "tailwindcss";

@theme {
    --font-sans: "Ubuntu", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #FBBF29;
    --color-primary-accent: #F59E0B;
    --color-accent: #222222;
    --color-secondary: #C4C4C4;
    --color-secondary-accent: #9CA3AF;
    --color-background: #F5F5F5;
    --color-dark-primary: #803805;
    --color-dark-primary-accent: #8A3C05;
    --color-dark-accent: #DEBF79;
    --color-dark-secondary: #444D5A;
    --color-dark-secondary-accent: #4C505C;
    --color-dark-background: #222222;
    --color-text: #222222;
    --color-dark-text: #F5F5F5;
    
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }
}